<div class="container-fluid">


<%= render 'shared/header'%>

<div class="container-fluid home_logo">
	<div class="container ">
	
	
<%= render 'navbar'%>
</div>
</div>




<div class="pitchwrapper">
<div class="container">


<%= render 'home/homemenu'%> 

     

<div class="pitcher-body">

<div class="row">
 <div class="col-sm-8 home_left">

 <div class="loader"></div>

<div class="animate-bottom animate-div"><%= render 'home_left'%></div>




 </div>

<div class="col-sm-4 home_right">

<%= render 'home_right'%>

</div>
</div>
 </div>
 </div>



</div>






</div>




<%= render 'shared/footer'%>


